/* HERO */
.hero {
  padding: 80px 0;
  background: url("../images/index-background.jpg") center / cover no-repeat;
  color: #fff;
}

.hero p {
  font-size: 28px;
  margin: 0;
}

/* CONTACT */
#contact {
  padding: 60px 0 180px;
}

.address {
  line-height: 1.3;
  font-size: 16px;
}

.address p {
  margin: 2px 0;
}

.address .city {
  font-size: 20px;
  font-weight: bold;
  color: #871F23;
}

.address .company {
  font-weight: bold;
}

@media (max-width: 768px) {
  .hero p {
    font-size: 20px;
  }
  #contact {
    padding-bottom: 80px;
  }
}

@media (max-width: 480px) {
  .hero p {
    font-size: 18px;
  }
}
